
.th{
    background-color: rgb(233 248 253);
    padding: 6px 13px;
    border-collapse: collapse;
    border: 1px solid #e0e3e6;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sort::after, 
.sortDown::after{
    content: '\a0↑\a0';
    position: absolute;
    transition-duration: 0.3s;
}

.sortDown::after{
    transform: rotate(180deg);
}