.td{
    padding: 6px 13px;
    border-collapse: collapse;
    border: 1px solid #e0e3e6;
}

.tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.selected.tr{
    background-color: rgb(191 225 255);
}