.info{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-top: 20px;
}

.title{
    align-self: center;
    justify-self: start;
}

.value{
    align-self: center;
    justify-self: end;
}